* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(images/bg-intro-desktop.png);
    background-color: hsl(0, 100%, 74%);
}

.container {
    height: 100vh;
    width: 100%;
    display: flex;
    padding: 100px;
}

 .left{
    height: 100%;
    width: 50%;
    color: white;
    display: grid;
    align-items: center;
    justify-content: center;
} 

.right{
    height: 100%;
    width: 40%;
    padding: 0 25px;
}

.top{
    height: 50px;
    background-color: hsl(248, 32%, 49%);
    font-family: 'Poppins',sans-serif;
    font-weight: 400;
    font-size: 13px;
    color: white;
    width: 100%;
    border-radius: 0.625em;
    text-align:center;
    padding: 15px;
    
}

.bottom{
    height: 400px;
    background-color: white;
    width: 100%;
    border-radius: 10px;
}

.content h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 40px;
    padding: 0 80px 30px;
}

.content p {
    font-family: 'Poppins',sans-serif;
    font-size: 13px;
    padding: 0 80px 100px;
}

input {
    width: 90%;
    height: 3.5em;
    border-radius: 5px;
    border: 1px solid hsl(246, 25%, 77%);
    margin: 10px 20px;
    padding: 0 20px;
}

.one {
    background-color: hsl(154, 59%, 51%);
    color: white;
    height: 3.5em;
    width: 90%;
    font-family:'Poppins',sans-serif;
    font-weight: 500;
    border-radius: 5px;
    margin:8px 20px;
    border: 1px solid hsl(154, 59%, 51%);
}

.bottom p {
    font-family: 'Poppins',sans-serif;
    font-size: 11px;
    color: hsl(246, 25%, 77%);
    text-align: center;
}

.form input {
    font-family: 'Poppins',sans-serif;
    font-weight: 500;
    font-size: 13px;
}

@media only screen and (max-width: 600px){
    .container {
        flex-direction: column;
        padding: 20px;
    }

    .right, .left {
        width: 100%;
    }

    .content h2 {
        text-align: center;
        font-size: 27px;
        padding:0 80px 29px;
    }

    .content p {
       padding: 0 0 49px;
       text-align: center;
       font-size: 14px; 
       font-weight: 500;   
    }

    .top {
        width: 306px;
        height: 65px;
        margin: 0 -5%;
    }

    .bottom {
        width: 19em;
        margin: 0 -5%;
    }


}