body {
    background-image: url(images/bg-intro-desktop.png);
    background-color: hsl(0, 100%, 74%);
}

body {
    margin: 15em;
}

.container {
    display: grid;
    grid-gap: 1.875em;
    grid-template-columns: 50% 50%;
}

header {
    margin-left: 32em;
    margin-bottom: 1em
}

h2 {
    font-family: 'Poppins', sans-serif;
    color: white;
    font-weight: 700;
    font-size: 2.5em;
}

.content p {
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 0.875em;
}

.one {
    color: white;
    background-color: hsl(248, 32%, 49%);
    height: 4em;
    width: 36em;
    font-family: 'Poppins',sans-serif;
    font-weight: 500;
    border-radius: 0.625em;
    border: 0.0625em;
    margin-bottom: 0.625em;
}

form {
    color: hsl(246, 25%, 77%);
    font-family: 'Poppins',sans-serif;
}

input {
    width: 30em;
    height: 3.5em;
    border-radius: 0.3125em;
    margin: 0.625em 0;
    border: 0.0625em solid hsl(246, 25%, 77%);
    padding-left: 0.9375em;
    margin-left: 1.875em;
    margin-top: 0.9375em;
}

.two {
    color: white;
    background-color: hsl(154, 59%, 51%);
    height: 3.5em;
    width: 31.5em;
    font-family: 'Poppins',sans-serif;
    font-weight: 500;
    border-radius: 0.3125em;
    margin-left: 1.875em;
    border: 0.0625em solid;
    margin-top: 0.625em;   
}

footer p{
    font-family: 'Poppins',sans-serif;
    font-size: 0.625em;
    color: hsl(246, 25%, 77%);
    text-align: center;
}

.form {
    background-color: white;
    border-radius: 0.625em;
    height: 25em;
    width: 30em;  
}

input[type=text] {
    font-family: 'Poppins',sans-serif;
}

.one:hover {
    box-shadow: 0 0 1.875em 0 rgba(0,0,0,0.2);
}



/* mobile screen sizes Moto G4 360 x 640 */


@media screen and (max-width: 600px) {

.one {
    margin-top: 20em;
    float: right;
    margin-right: 1em;
    width: 26em;
    height: 6.8125em;
}

.container {
    display: grid;
    grid-column: auto;
    grid-gap: 67em;
}

.form {
    margin-top: -57em;
    margin-left: 10em;
}

body {
    margin: 1em;
}

.two {
    height:4.6875em;
    width: 21.5em;
    border-radius: 0.625em;
}

h2 {
    font-size: 1.625em;
    text-align: center;
    margin-left: 6em;
}

input {
    width: 20em;
    height: 4.25em;
}

footer {
    font-size: 0.625em;
    text-align: center;
}

.content p {
    font-size: 0.875em;
    text-align: center;
    margin-left: 11em;
}


}







